In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

1. understand the shape of the data
2. data cleaning
3. data exploration
4. feature engineering
5. data preprocessing for model
6. basic model building
7. modeling tuning
8. ensemmble model building
9. results

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

In [3]:
# libraries & dataset
import seaborn as sns
import matplotlib.pyplot as plt


# 'data' and 'x' values are case sensitive
# 'data' = dataset 
# 'x' = the feature you are interested in displaying
sns.histplot(data=train_data, x="Sex")
plt.show()

In [4]:
sns.histplot(data=train_data, x="Age")
plt.show()

In [5]:
survived = train_data[train_data["Survived"] == 1]
died = train_data[train_data["Survived"] == 0]

In [6]:
sns.histplot(data=survived, x="Age")
plt.show()

In [7]:
sns.histplot(data=died, x="Age")
plt.show()

Children were most likely to survive the Tatanic disaster.

In [8]:
# class ticket 
# 1 = 1st, 2 = 2nd, 3 = 3rd
sns.histplot(data=survived, x="Pclass")
plt.show()

In [9]:
# class ticket 
# 1 = 1st, 2 = 2nd, 3 = 3rd
sns.histplot(data=died, x="Pclass")
plt.show()

There is a large disparity between class deaths. 3rd class, the poorest class of passengers, dispraportionately died the most on the Titanic

In [ ]:
import re

In [68]:
# extract the title and reduce them all to Mrs, Miss, Mr and Master.
def get_title(txt):
    # find items that have ',' followed by some text and ending in '.'
    x = re.search(r"\,.*\.", txt)
    if x:
        value = x.group()
        # find text after ',' and ' '
        x2 = re.search(r"(?<=\,\s).*\.", value)
        value2 = x2.group()
        # find text till the first '.'
        x3 = re.search(r"\b\w+\b(?=\.)", value2)
        return x3.group()

train_data['Title']=train_data['Name'].map(lambda x: get_title(x))

In [70]:
# add empty column to dataframe
train_data['ReplacedTitles'] = np.nan

def replace_titles(x):
    title = x['Title']
    if title in ['Don', 'Major', 'Capt', 'Jonkheer', 'Rev', 'Col']:
        return 'Mr'
    elif title in ['Countess', 'Mme']:
        return 'Mrs'
    elif title in ['Mlle', 'Ms']:
        return 'Miss'
    elif title =='Dr':
        if x['Sex']=='Male':
            return 'Mr'
        else:
            return 'Mrs'
    else:
        return title

train_data['ReplacedTitles']=train_data.apply(replace_titles, axis=1)

In [73]:
train_data.head()

In [72]:
print(train_data['Title'].unique())
print(train_data['ReplacedTitles'].unique())

In [75]:
txt = "E D10 D12"
x = re.search(r"[A-Z]{1}[0-9]{1,3}", txt)
print(x.group())

In [98]:
# add empty column to dataframe
train_data['Deck'] = np.nan

def get_deck(txt):
    if type(txt) == str:
        # print("not a nan")
        # print(txt)
        x1 = re.search(r"[A-Z]{1}[0-9]{1,3}", txt)
        if x1 != None:
            value = x1.group()
            x2 = re.search(r"[A-Z]{1}", txt)
            return x2.group()
    return "unknown"

train_data['Deck']=train_data['Cabin'].map(lambda x: get_deck(x))

In [99]:
train_data.head()

In [96]:
print(train_data['Deck'].unique())

In [101]:
# add family size column to dataframe
train_data['FamilySize'] = train_data['SibSp']+train_data['Parch']

In [102]:
train_data.head()

In [103]:
print(train_data['FamilySize'].unique())

In [104]:
train_data['FarePerPerson']=train_data['Fare']/(train_data['FamilySize']+1)

In [105]:
train_data.head()